In [1]:
import numpy as np
import pandas as pd 
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

In [2]:
import os
os.listdir()
df = pd.read_excel('syntheticData.xlsx')
df.head()

,Section Code,Homework Assignment 1 Submission,Homework Assignment 2 Submission,Homework Assignment 3 Submission,Homework Assignment 4 Submission,Homework Assignment 5 Submission,Homework Assignment 6 Submission,Homework Assignment 6 Submission .1,Homework Assignment 7 Submission,Homework Assignment 8 Submission,...,Project: Total,Total,Course Grade with Extra Credit,Course Grade with No extra credit,Term,Season,Year,Type,Instructor,GTA
0,s021,0.0,0.0,0.0,54.0,77.0,0.0,0.0,93,65.0,...,69.30,2452.0,2521.30,4973.30,T19,S1,Y4,T2,Prof006,GTA008
1,s021,0.0,80.0,74.0,92.0,77.0,78.0,78.0,100,94.0,...,33.60,2944.0,3177.60,6121.60,T19,S1,Y4,T2,Prof006,GTA008
2,s021,100.0,78.0,83.0,63.0,77.0,20.0,20.0,54,87.0,...,33.45,2489.0,2576.45,5065.45,T19,S1,Y4,T2,Prof006,GTA008
3,s021,96.0,87.0,69.0,83.0,87.0,83.0,83.0,99,89.0,...,76.20,3370.0,3644.20,7014.20,T19,S1,Y4,T2,Prof006,GTA008
4,s021,100.0,88.0,62.0,0.0,80.0,60.0,60.0,70,98.0,...,73.80,3070.0,3306.80,6376.80,T19,S1,Y4,T2,Prof006,GTA008

In [3]:
df[['Term']] = df['Term'].str.split("T").str[1]
df[['Season']] = df['Season'].str.split("S").str[1]
df[['Year']] = df['Year'].str.split("Y").str[1]
df[['Type']] = df['Type'].str.split("T").str[1]
df[['Instructor']] = df['Instructor'].str.split("Prof").str[1]
df[['GTA']] = df['GTA'].str.split("GTA").str[1]
df[['Section Code']] = df['Section Code'].str.split("s").str[1]

In [4]:
df.head()

,Section Code,Homework Assignment 1 Submission,Homework Assignment 2 Submission,Homework Assignment 3 Submission,Homework Assignment 4 Submission,Homework Assignment 5 Submission,Homework Assignment 6 Submission,Homework Assignment 6 Submission .1,Homework Assignment 7 Submission,Homework Assignment 8 Submission,...,Project: Total,Total,Course Grade with Extra Credit,Course Grade with No extra credit,Term,Season,Year,Type,Instructor,GTA
0,021,0.0,0.0,0.0,54.0,77.0,0.0,0.0,93,65.0,...,69.30,2452.0,2521.30,4973.30,19,1,4,2,006,008
1,021,0.0,80.0,74.0,92.0,77.0,78.0,78.0,100,94.0,...,33.60,2944.0,3177.60,6121.60,19,1,4,2,006,008
2,021,100.0,78.0,83.0,63.0,77.0,20.0,20.0,54,87.0,...,33.45,2489.0,2576.45,5065.45,19,1,4,2,006,008
3,021,96.0,87.0,69.0,83.0,87.0,83.0,83.0,99,89.0,...,76.20,3370.0,3644.20,7014.20,19,1,4,2,006,008
4,021,100.0,88.0,62.0,0.0,80.0,60.0,60.0,70,98.0,...,73.80,3070.0,3306.80,6376.80,19,1,4,2,006,008

In [5]:
X = df.drop('Total ', axis=1)
y = df['Total ']

In [6]:
labelEncoder = LabelEncoder()

cat_columns = X.dtypes.pipe(lambda x: x[x == 'object']).index

for col in cat_columns:
    X[col] = labelEncoder.fit_transform(X[col])

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=50)

In [7]:
np.any(np.isnan(X_train))
X_train = np.nan_to_num(X_train)

In [8]:
mod = LinearRegression()
fi = mod.fit(X_train, y_train)
pred = fi.predict(X_test)

In [9]:
print('Coefficients: \n', mod.coef_)
print("Mean squared error: %.2f" %mean_squared_error(y_test, pred))
print('Variance score: %.2f' %r2_score(y_test, pred))

Coefficients:
 [-2.80453303e-14 -9.43689571e-16  4.94913214e-16 -1.89127043e-16
 -1.79256513e-15 -2.73949220e-15  7.30544804e-16  6.66011886e-16
  1.33713465e-15  3.37619647e-16 -6.56084073e-16  1.93269361e-15
 -4.28571429e-01 -4.28571429e-01 -1.42857143e-01  5.71428571e-01
 -6.90475062e-14  1.12872222e-14 -2.89499327e-14  5.48779094e-14
 -3.23558454e-15  5.72252749e-15]
Mean squared error: 0.00
Variance score: 1.00